{% extends  "admin/admin.html" %}
{% block css %}

{% endblock %}]
{% block content %}
<section class="content-header">
            <h1>微电影管理系统</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 个人资料</a></li>
                <li class="active">修改密码</li>
            </ol>
        </section>
        <section class="content" id="showcontent">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">修改密码</h3>
                        </div>

                        <form role="form" method="post" enctype="multipart/form-data">

                         {% for msg  in get_flashed_messages(category_filter=["ok"])  %}
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                             <h4><i class="icon fa fa-check"></i> 密码更改成功！</h4>
                                 {{ msg }}
                        </div>
                           {% endfor %}

                         {% for msg  in get_flashed_messages(category_filter=["err"])  %}
                        <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h4><i class="icon fa fa-ban"></i> 密码更改失败！</h4>
                         {{ msg }}
                      </div>
                        {% endfor %}
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="input_pwd">{{ form.old_pass.label }}</label>
                                        {{ form.old_pass }}
                                </div>
                              {% for err  in form.old_pass.errors %}
                                 <div class="col-md-12" id="input_user">
                                        <span  style="color: red">{{ err }}</span>
                                    </div>
                                    {% endfor %}
                                <div class="form-group">
                                    <label for="input_newpwd">{{ form.new_pass.label }}</label>
                                    {{ form.new_pass }}
                                </div>
                                  {% for err  in form.new_pass.errors %}
                                 <div class="col-md-12" id="input_user">
                                        <span  style="color: red">{{ err }}</span>
                                    </div>
                                    {% endfor %}
                            </div>
                            <div class="box-footer">
                                {{ form.csrf_token }}
                                {{ form.submit }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}]
{% block js %}


{% endblock %}]